/*--- reset ---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body
{
  background-color: #333;
  color: #555;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a             { color: #1681ae; text-decoration: none; }
a:hover       { text-decoration: underline; }
ol, ul        { list-style: none; }
blockquote, q { quotes: none; }
:focus        { outline: 0; }
ins           { text-decoration: none; }
del           { text-decoration: line-through; }
table         { border-collapse: collapse; border-spacing: 0; }

textarea, input, select
{
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 1em;
}





/*--- clearfix ---*/

.clearfix,
.listfix li,
.formrow
{
  min-height: 0;
}

.clearfix:after,
.listfix li:after,
.formrow:after
{
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

* html .clearfix,
* html .listfix li,
* html .formrow
{
  height: 1%;
}





/*--- top bar ---*/

#top_bar
{
  background-color: #333;
  border-bottom: 5px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 954px;
  position: relative;
}

#top_bar > .inner
{
  height: 54px;
  margin: 0 auto;
  position: relative;
  width: 954px;
}

#pf_logo
{
  display: block;
  left: 27px;
  position: absolute;
  top: 14px;
}

#primary_nav_tools
{
  color: #fff;
  float: right;
  margin: 18px 27px 0 0;
}

#primary_nav_tools a,
#logout_form button
{
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
}

#primary_nav_tools a:hover,
#logout_form button:hover
{
  color: #f1a002;
}





/*--- main module ---*/

#main_module
{
  background-color: #fff;
  min-width: 954px;
  padding-bottom: 36px;
}

#main_module > .inner
{
  margin: 0 auto;
  padding: 27px;
  position: relative;
  width: 900px;
}





/*--- foooter ---*/

#footer
{
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, Sans-serif;
}

#footer > .inner
{
  margin: 0 auto;
  padding: 36px 0 54px;
  width: 900px;
}

/* text */

#footer .text
{
  float: left;
  margin-right: 36px;
  position: relative;
  width: 468px;
}

#footer .text .pf_logo
{
  background: url('images/pf_logo_med.png') no-repeat;
  height: 38px;
  margin-bottom: 18px;
  text-indent: -9999px;
  width: 143px;
}

#footer .text p
{
  line-height: 1.4em;
  margin-top: 12px;
}

/* links */

#footer .links
{
  float: left;
  line-height: 1.8em;
  margin-top: 27px;
  width: 396px;
}

#footer .links > li
{
  float: left;
  margin-left: 18px;
  width: 120px;
}

#footer .links > li:first-child
{
  margin-left: 0;
}

#footer .links a
{
  color: #c4c4c4;
}